@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

.grid {
    display: grid;
    grid-template-columns: .6fr .4fr;
    margin-inline: auto;
    margin-top: 80px;
    gap: 60px;
    row-gap: 100px;
    max-width: min(90vw, 1300px);
}

.grid_reverse {
    grid-template-columns: .4fr .6fr !important;
}


.basic_info {
    position: relative;
    background: rgb(230, 230, 230);
    height: 300px;
    padding-inline: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 2px;
    padding-top: 40px;

    h1 {
        position: absolute;
        top: -10px;
        left: 20px;
        font-family: 'Crimson Pro';
        letter-spacing: 1px;
        font-size: clamp(1.135rem, 2.5vw, 1.6rem);
    }
}

.flex_info {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Baloo Bhai 2';

    h2 {
        margin-bottom: 0;
        margin-left: -20px;
    }

    h3 {
        margin: 0;
        width: 100%;
        font-size: clamp(.7rem, 4vw, 1.1rem);
    }
}

.legend {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: flex;
    gap: 1.3em;
    font-family: 'Baloo Bhai 2';

    span {
        font-size: clamp(.75rem, 1.5vw, .9rem) !important;
        
        &::before {
            content: '';
            position: absolute;
            bottom: 8px;
            left: -13px;
            width: 10px;
            height: 10px;
        }
    }

    .city::before, .rural::before, .county_2::before, .men::before, .active::before, .ph::before, .com::before {
        background-color: #E38627;
    }

    .comuna::before, .urban::before, .city_2::before, .women::before, .inactive::before, .nph::before, .ncom::before {
        background-color: #C13C37;
    }

    .village::before, .comuna_2::before {
        background-color: #6A2135;
    }

    .village_2::before {
        background-color: #BA5A31;
    }
}

.flex_info_container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    gap: 5em;
}

@media screen and (min-width: 0px) and (max-width: 1050px) {
    .grid {
        grid-template-columns: .95fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 80px;
        justify-content: center;
        margin-inline: 0;
        max-width: 500px;
        margin-inline: auto;
    }
    
    .grid_reverse {
        grid-template-columns: .95fr !important;
        grid-template-rows: 1fr 1fr;
    }
    
    .basic_info {
        height: auto;
        flex-flow: column wrap;
        padding-bottom: 30px;

        h1 {
            margin-top: 20px;
        }
    }
    
    .flex_info_container {
        gap: 2em;
    }

    .legend {
        right: 5px;
        bottom: 0px;
    }

    .status_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-width: 100vw;
        margin-inline: 50px;
        gap: 20px;
    }
    
    .grid_reverse {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: auto;
    }

    .flex_info {
        h3 {
            font-size: clamp(.8rem, 1.5vw, 1.3rem);
        }
    }

}

@media screen and (min-width: 1050px) and (max-width: 1250px) {
    .flex_info {
        h3 {
            font-size: .9rem;
        }
    }

    .flex_info_container {
        gap: 2em;
    }
}