.container {
    position: relative;
    width: 100%;
    height: 57px;
    background-color: #a71d31;
}

.profile_picture {
    position: absolute;
    right: 10px;
    box-sizing: content-box;
    transition: all .2s;
}

@keyframes appear_box {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.pp_box {
    width: 200px;
    height: 200px;
    background: rgb(240, 240, 240);
    position: absolute;
    right: 9px;
    top: 70px;
    z-index: 18;

    h3 {
        text-align: center;
        font-family: 'Baloo Bhai 2';
    }

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid rgb(240, 240, 240);
    }
}

.open_box {
    animation: appear_box .5s;
    display: block !important;
}

@keyframes disappear_box {
    0% { opacity: 1;  }
    100% { opacity: 0; }
}

.close_box {
    animation: disappear_box .5s;
    display: none !important;
}

.info_admin {
    h5 {
        &:first-child {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-top: 0;
        }
    }
}

.logout {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: flex;
    align-items: center;
    
    button {
        border: none;
        background: rgb(240, 240, 240);
        color: red;
        font-family: 'Baloo Tamma 2';
        padding-left: 0 !important;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.logo_icon {
    background-color: #a71d31;

    img {
        transition: background-color .3s ease-out;
        border-radius: 7px;
        padding: 3px 6px !important;
        cursor: pointer;
    }

    img:hover {
        background-color: rgba(50, 50, 50, .2);
    }

    span[id='#title'] {
        font-size: 1.3rem;
        font-family: 'Belleza';
        color: white;
    }
}


.sidemenu {
    position: fixed;
    margin-top: 11px;
    width: 0px;
    height: calc(100vh - 57px);
    background-color: rgb(240, 240, 240);
    z-index: 20;
    overflow: hidden;
    

    div span[id='#title'] {
        color: white;
        font-size: 2rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0px;
        padding-top: 50px;
        line-height: 4;

        li {
            padding-left: 20px;
            border-bottom: 1.5px solid rgb(130, 130, 130);
            font-family: 'Belleza';
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                opacity: .7;
                cursor: pointer;
            }
        }
    }
}

.overlay {
    position: fixed;
    z-index: 19;
    background: rgba(20, 20, 20, .15);
    left: 0;
    width: 100vw;
    height: calc(100vh - 57px);
    margin-top: 57px;
}

@keyframes open_menu {
    0% { width: 0; }
    100% { width: 350px }
}

.open_menu {
    animation: open_menu .3s;
    width: 350px;
}

@keyframes close_menu {
    0% { width: 350px; }
    100% { width: 0 }
}

.close_menu {
    animation: close_menu .3s;
    width: 0;
}

.bb_none {
    li:nth-child(4) {
        border-bottom: 0;
    }
}

@keyframes open_sec {
    0% { height: 0 }
    100% { height: 203px }
}

.open_sec {
    animation: open_sec .5s;
    height: 203px;
}


@keyframes close_sec {
    0% { height: 203px }
    100% { height: 0 }
}

.close_sec {
    animation: close_sec .5s;
    height: 0;
}

.sub_sec {
    overflow: hidden;

    li {
        background: rgb(230, 230, 230);
        padding-left: 40px !important;
    }
    .last {
        border-bottom: 2.5px solid rgb(150, 150, 150) !important;
    }

    .first {
        border-top: 2.5px solid rgb(150, 150, 150) !important;
    }
}