.posts_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 25px;
    margin-inline: 30px;
    justify-items: center;
    padding-inline: 150px;
    margin-top: 25px;
    margin-inline: auto;
    max-width: 2000px;
}

.loader {
    border: 10px solid gray;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 15vh;
    animation: spin 1s linear infinite;
    margin-inline: auto;
    margin-bottom: 200px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .posts_container {
    grid-template-columns: 1fr;
    padding-inline: 40px;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .posts_container {
    padding-inline: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .posts_container {
    padding-inline: 5vw;
  }
}