.options_container {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgba(245, 245, 245);
    border-radius: 5px;
}

.actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 15px;
    gap: 1em;

    img {
        cursor: pointer !important;
    }
}

.mt_big {
    margin-top: 60px;
}

.down_cont {
    margin: 20px 5% 0 5%;
    height: auto;
    position: relative;

    h2 {
        font-family: 'Belleza';
        font-weight: 900;
        font-size: clamp(1.2rem, 5vw, 2rem);
    }
}

.reasons_box {
    margin-top: 30px;
    font-family: 'Baloo Bhai 2';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20%;
    column-gap: 10px;
    font-size: clamp(.8rem, 2.5vw, 1rem);

    div span {
        white-space: nowrap;
    }
}

.overlay {
    z-index: 99;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
}

.container_accept {
    z-index: 1000;
    position: absolute;
    width: max(55%, 350px);
    height: 70%;
    top: 20%;
    margin-inline: auto;
    left: 0;
    right: 0;
    background: white;
}

.close_modal {
    position: absolute;
    top: 5px;
    right: 5px;

    img {
        transition: all .25s ease-out;
        border-radius: 50% !important;
        padding: 5px !important;
    }

    img:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .05)
    }
}

.icon_modal {
    position: absolute;
    top: 10px;
    left: 15px
}

.content_modal {
    margin-top: 80px;
    font-family: 'Anonymous Pro';
    text-align: center;
    
    
    h2 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }

    p {
        font-size: clamp(.8rem, 2.5vw, 1rem);
        margin-inline: 10%;
    }

    button {
        font-family: 'Baloo Bhai 2';
        font-size: clamp(1rem, 2.5vw, 1.1rem);
        padding: .3em .8em;
        border: 0;
        cursor: pointer;
        border-radius: 4px;
        background: #A71D31;
        color: white;
        margin-top: 20px;

        &:hover {
            opacity: .9;
        }

        &:active {
            opacity: .8;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
    .options_container {
        width: 80vw !important;
        height: 350px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    
        &::-webkit-scrollbar { 
            display: none; 
        }
    } 

    .mt_big {
        margin-top: 170px;
    }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
    .reasons_box {
        margin-top: 30px;
        font-family: 'Baloo Bhai 2';
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20%;
        column-gap: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .options_container {
        transition: height .25s ease-out;
    }

    .overlay {
        z-index: 99;
        background: rgba(255, 255, 255, .5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 625px;
        margin-left: 0 !important;
    }
    
    .container_accept {
        z-index: 1000;
        position: absolute;
        width: 90%;
        height: 80%;
        top: 10%;
        max-width: 400px;
        max-height: 350px;
        margin-inline: auto;
        left: 0;
        right: 0;
        background: white;
    }
}